{% extends "layout.html" %}

{% block body %}
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="Main Navigation Bar">

        <!-- Nav Branding -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <!-- Put in path to image -->
                 <div clas="logo">
                    <span class="h">H</span>
                    <span class="w">W</span>
                    <span class="slash"></span>
                 </div>
            </a>
        </div>

        <!-- Nav Items -->
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">Home</a>
                <a class="navbar-item">Broadcasting</a>
                <a class="navbar-item">Programming</a>
                <a class="navbar-item">Web Design</a>
                <a class="navbar-item">About Me</a>
            </div>
        </div>

    </nav>

    <!-- Title Section -->
    <div class="container">

        <!-- Picture + Title -->
        <div class="card">
            <div class="card-image">
                <!-- Add image -->
                 <figure class="image">
                    <img class="is-rounded" src="/static/Hayden_fullshot.JPG"/>
                 </figure>
            </div>
        </div>

        <h1 class="title is-1">Hayden Warfield</h1>
        <h2 class="title is-2">Epic, Awesome, and Slighty More Awesome</h2>

    </div>
{% endblock %}
